<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
  
  
      <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input type="number" class="form-control" id="accountNumber" name="accountNumber" value="<%= account.accountNumber %>">
      </div>

      <div class="form-group">
        <label for="accountBalance">Account Balance</label>
        <input type="number" class="form-control" id="accountBalance" name="accountBalance" value="<%= account.accountBalance %>">
      </div>
  
      <div class="form-group">
        <label for="accountCreated">Account Created</label>
        <input type="text" class="form-control" id="accountCreated" name="accountCreated" value="<%= account.accountCreated %>">
      </div>
  
      <div class="form-group">
        <label for="accountType">Account Type</label>
        <input type="text" class="form-control" id="accountType" name="accountType" value="<%= account.accountType %>">
      </div>
  
    </div>
  </div>
  
