<header>
  <!-- Fixed navbar -->
  <!-- https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/examples/sticky-footer-navbar/ -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transaction">Transaction</a>
        </li>

        <!-- view-source:https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/examples/navbars/ -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/about" id="dropdown03" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="https://redhug.github.io/aboutme">Pavan Kumar Reddy Byreddy</a>
              <a class="dropdown-item" href="https://leelakrishna0981.github.io/aboutme/">Leela Krishna Kosaraju</a>
              <a class="dropdown-item" href="https://anveshrokanlawar.github.io/aboutme/">Anvesh Rokanlawar</a>
              <a class="dropdown-item" href="https://katrevula.github.io/aboutme/">VenkataSandeep Katrevula</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>