<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>
       <h2>User</h2>
       <b>By Pavan Kumar Reddy Byreddy</b>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="user/findall">Click here to find all users</a>
        </li>
        <li> <a href="user/findone/1">click here to find user with id: 1</a>
        </li>
        <li> <a href="user/findone/2">click here to find user with id: 2</a>
        </li>
        <li> <a href="user/findone/3">click here to find user with id: 3</a>
        </li>
        <li> <a href="user/findone/4">click here to find user with id: 4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="user">To view user page</a>
        </li>
        <li>
          <a href="user/create">To create a user</a>
        </li>

        <li>
          <a href="user/edit/1">To edit user with id: 1</a>
        </li>
        <li>
          <a href="user/edit/2">To edit user with id: 2</a>
        </li>
        <li>
          <a href="user/edit/3">To edit user with id: 3</a>
        </li>

        <li>
          <a href="user/delete/1">To delete user with id: 1</a>
        </li>
        <li>
          <a href="user/delete/2">To delete user with id: 2</a>
        </li>
        <li>
          <a href="user/delete/3">To delete user with id: 3</a>
        </li>

        <li>
          <a href="user/details/1">To get details of user with id: 1</a>
        </li>
        <li>
          <a href="user/details/2">To get details of user with id: 2</a>
        </li>
        <li>
          <a href="user/details/3">To get details of user with id: 3</a>
        </li>
       </ol>
      <h2>Account</h2>
      <b>By Anvesh Rokanlawar</b>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="account/findall">Click here to find all account details</a>
        </li>
        <li> <a href="account/findone/101">click here to find account wih id: 101</a>
        </li>
        <li> <a href="account/findone/104">click here to find account wih id: 104</a>
        </li>
        <li> <a href="account/findone/102">click here to find account wih id: 102</a>
        </li>
        <li> <a href="account/findone/103">click here to find account wih id: 103</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="account">To view all accounts</a>
        </li>
        <li>
          <a href="account/create">To create a new account</a>
        </li>

        <li>
          <a href="account/edit/101">To edit account with id: 101</a>
        </li>
        <li>
          <a href="account/edit/102">To edit account with id: 102</a>
        </li>
        <li>
          <a href="account/edit/103">To edit account with id: 103</a>
        </li>

        <li>
          <a href="account/delete/101">To delete account with id: 101</a>
        </li>
        <li>
          <a href="account/delete/102">To delete account with id: 102</a>
        </li>
        <li>
          <a href="account/delete/103">To delete account with id: 103</a>
        </li>

        <li>
          <a href="account/details/101">To get details of the account with id: 101</a>
        </li>
        <li>
          <a href="account/details/102">To get details of the account with id: 102</a>
        </li>
        <li>
          <a href="account/details/103">To get details of the account with id: 103</a>
        </li>

      </ol>
      <br>
      <h2>Transaction</h2>
      <b>By Leela Krishna Kosaraju</b>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="transaction/findall">Click here to find all transaction details</a>
        </li>
        <li> <a href="transaction/findone/1256">click here to find transaction wih id: 1256</a>
        </li>
        <li> <a href="transaction/findone/1269">click here to find transaction wih id: 1269</a>
        </li>
        <li> <a href="transaction/findone/1270">click here to find transaction wih id: 1270</a>
        </li>
        <li> <a href="transaction/findone/1250">click here to find transaction wih id: 1250</a>
        </li>
      </ol>
      
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="transaction">To view all transaction</a>
        </li>
        <li>
          <a href="transaction/create">To create a new transaction</a>
        </li>

        <li>
          <a href="transaction/edit/1256">To edit a transaction with id: 1256</a>
        </li>
        <li>
          <a href="transaction/edit/1269">To edit a transaction with id: 1269</a>
        </li>
        <li>
          <a href="transaction/edit/1270">To edit a transaction with id: 1270</a>
        </li>

        <li>
          <a href="transaction/delete/1256">To delete a transaction with id: 1256</a>
        </li>
        <li>
          <a href="transaction/delete/1269">To delete a transaction with id: 1269</a>
        </li>
        <li>
          <a href="transaction/delete/1270">To delete a transaction with id: 1270</a>
        </li>

        <li>
          <a href="transaction/details/1256">To get details of transaction with id: 1256</a>
        </li>
        <li>
          <a href="transaction/details/1269">To get details of transaction with id: 1269</a>
        </li>
        <li>
          <a href="transaction/details/1270">To get details of transaction with id: 1270</a>
        </li>

      </ol>
      <br>
      <h2>Category</h2>
      <b>By VenkataSandeep Katrevula</b>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="category/findall">Click here to find all category details</a>
        </li>
        <li> <a href="category/findone/10001">click here to find transaction wih id: 10001</a>
        </li>
        <li> <a href="category/findone/10002">click here to find transaction wih id: 10002</a>
        </li>
        <li> <a href="category/findone/10004">click here to find transaction wih id: 10004</a>
        </li>
      </ol>
      
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="category">To view all category details</a>
        </li>
        <li>
          <a href="category/create">To create a new category</a>
        </li>

        <li>
          <a href="category/edit/10001">To edit a category with id: 10001</a>
        </li>
        <li>
          <a href="category/edit/10004">To edit a category with id: 10004</a>
        </li>
        <li>
          <a href="category/edit/10003">To edit a category with id: 10003</a>
        </li>

        <li>
          <a href="category/delete/10001">To delete a category with id: 10001</a>
        </li>
        <li>
          <a href="category/delete/10002">To delete a category with id: 10002</a>
        </li>
        <li>
          <a href="category/delete/10004">To delete a category with id: 10004</a>
        </li>

        <li>
          <a href="category/details/10004">To get the details of transaction with id: 10004</a>
        </li>
        <li>
          <a href="category/details/10003">To get the details of transaction with id: 10003</a>
        </li>
        <li>
          <a href="category/details/10001">To get the details of transaction with id: 10001</a>
        </li>

      </ol>
    </div>
  </div>
</div>