<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>category details</h2>
      <br>
      <br> ID: <%=  category._id %>
      <br> Account Category: <%=category.account_category%>
      <br> Debit Card Number: <%=category.Debit_cardnumber%>
      <br> Credit Card Number: <%=category.credit_cardnumber%>
      <br> Description: <%=category.description%>
      <hr>

      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>