<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="category/create" class="btn btn-primary new">
        Create a new Transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= categories.query.length %> category.
        <br>
      </p>
      <% for (var i = categories.query.length-1; i >= 0; i--) {   
        ca = categories.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  ca._id %>
          <br> Account Category: <%=ca.account_category%>
          <br> Debit CardNumber : <%=ca.debit_cardnumber%>
          <br> Credit CardNumber: <%=ca.credit_cardnumber%>
          <br> Description: <%=ca.description%>

          
          <hr>
          <a href="/category/delete/<%= ca._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/category/details/<%= ca._id %>" class="btn btn-info"> Details </a>
          <a href="/category/edit/<%= ca._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>