<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="account_category">Account Category</label>
      <input type="text" class="form-control" id="account_category" name="account_category" value="<%= category.account_category %>" required>
    </div>

    <div class="form-group">
      <label for="debit_cardnumber">Debit CardNumber</label>
      <input type="number" class="form-control" id="debit_cardnumber" name="debit_cardnumber" value="<%= category.debit_cardnumber %>">
    </div>
    
    <div class="form-group">
      <label for="credit_cardnumber">Credit CardNumber</label>
      <input type="number" class="form-control" id="credit_cardnumber" name="credit_cardnumber" value="<%= category.credit_cardnumber %>">
    </div>


    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="<%= category.description %>">
    </div>


  </div>
</div>

