<!-- main - a row holds columns -->
<!--  -->
<div class=row>
  <div class="col col-xs-12">
     
    
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="description" name="name" value="<%=user.name%>">
    </div>
    
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="description" name="phone" value="<%= user.phone %>">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
    </div>

  </div>
</div>