<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

      <div class="form-group">
          <label for="accountNumber">Account Number</label>
          <input type="number" class="form-control" id="accountNumber" name="accountNumber"
            value="<%= transaction.accountNumber %>" required>
        </div>

        <div class="form-group">
            <label for="accountName">Account Name</label>
            <input type="text" class="form-control" id="accountName" name="accountName"
              value="<%= transaction.accountName %>" required>
          </div>
          <div class="form-group">
              <label for="accountType">Account Type</label>
              <input type="text" class="form-control" id="accountType" name="accountType"
                value="<%= transaction.accountType %>" required>
            </div>
    <div class="form-group">
      <label for="transactionType">Transaction Type</label>
      <input type="text" class="form-control" id="transactionType" name="transactionType"
        value="<%= transaction.transactionType %>" required>
    </div>

    <div class="form-group">
      <label for="transactionAmount">Transaction Amount</label>
      <input type="number" class="form-control" id="transactionAmount" name="transactionAmount"
        value="<%= transaction.TransactionAmount %>" required>
    </div>
  </div>
</div>